.account-details {
  display: grid;
  grid-template-columns: 400px 1fr;
  margin-top: 40px;
}

.account-first-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.user-information {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.user-information img {
  object-fit: cover;
  width: 100px;
  border-radius: 100%;
}

.user-name {
  text-decoration: underline;
}

.user-name ~ p {
  font-size: 0.9em;
  color: lightgrey;
}

.user-id {
  background-color: var(--grey);
  text-align: center;
  width: fit-content;
  padding: 10px 40px;
  border-radius: 20px;
  color: black;
  max-width: 270px;
}

.user-id p span {
  font-weight: bold;
}

.account-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.account-options button {
  background-color: transparent;
  width: fit-content;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 500ms ease;
  font-size: 0.9em;
}

.account-options button:hover {
  opacity: 0.5;
}

.account-second-column {
  min-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.account-info-container {
  border: 2px solid var(--grey);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-information-fields {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.user-information-fields div {
  display: flex;
  column-gap: 40px;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.input-field p {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 500;
}

.input-field input,
.input-field select {
  height: 45px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  padding-inline: 10px;
}

.input-field input:focus,
.input-field select {
  outline-color: var(--primary);
}

.change-options {
  display: flex;
  gap: 50px;
}

.change-options button {
  border: none;
  background-color: var(--primary);
  outline: none;
  color: white;
  width: fit-content;
  padding: 10px 70px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms ease;
}

.change-options button:nth-child(2) {
  background-color: var(--grey);
  color: black;
}

.change-options button:hover {
  opacity: 0.5;
}
