/**
  * @author Arvy Aggabao
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.login-page {
  min-height: 100vh;
  background-image: url("../assets/slu_bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(161, 202, 234, 0.65),
    rgba(156, 199, 233, 0.65),
    rgba(145, 182, 211, 0.65)
  );
  backdrop-filter: blur(2px);
  z-index: 1;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 55px;
  height: 80px;
}

.corner-logo {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.corner-logo img {
  width: 70px;
  height: 70px;
}

.login-container {
  position: relative;
  z-index: 2;
  padding: 40px;
  backdrop-filter: blur(2px);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.login-container h1 {
  color: #ffffff;
  font-size: 2.5em;
  margin-bottom: 30px;
  line-height: 1.4;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #72aee6;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-group input:focus,
.input-group input:valid {
  background: rgba(255, 255, 255, 0.75);
  border-color: rgba(8, 65, 139, 0.5);
  color: #333;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: 0;
  font-size: 14px;
  font-weight: 600;
  background: rgba(65, 105, 225, 0.8);
  padding: 2px 5px;
  border-radius: 5px;
}

.login-btn {
  background: #4169e1;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(65, 105, 225, 0.3);
}

.login-btn:hover {
  background: #3157d5;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(65, 105, 225, 0.4);
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.button-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.recovery-btn,
.update-btn {
  background: #800080;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.recovery-btn:hover {
  background: #6a006a;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(128, 0, 128, 0.4);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #333;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.modal .modal-content form {
  margin-top: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#recovery-modal .input-group input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

#recovery-modal .input-group input:focus {
  border-color: #72aee6;
  outline: none;
}

#recovery-modal .input-group label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

#recovery-modal .input-group input:focus,
#recovery-modal .input-group input:valid {
  background: rgba(255, 255, 255, 0.75);
  border-color: rgba(8, 65, 139, 0.5);
  color: #333;
}

#recovery-modal .input-group input:focus + label,
#recovery-modal .input-group input:valid + label {
  top: 0;
  font-size: 14px;
  font-weight: 600;
  background: rgba(65, 105, 225, 0.8);
  padding: 2px 5px;
  border-radius: 5px;
}

#update-password-modal .input-group input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
}

#update-password-modal .input-group input:focus {
  border-color: #72aee6;
  outline: none;
}

#update-password-modal .input-group label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

#update-password-modal .input-group input:focus,
#update-password-modal .input-group input:valid {
  background: rgba(255, 255, 255, 0.75);
  border-color: rgba(8, 65, 139, 0.5);
  color: #333;
}

#update-password-modal .input-group input:focus + label,
#update-password-modal .input-group input:valid + label {
  top: 0;
  font-size: 14px;
  font-weight: 600;
  background: rgba(65, 105, 225, 0.8);
  padding: 2px 5px;
  border-radius: 5px;
}
