.chart {
  margin: 20px auto;
  width: 35vw;
  height: 45vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

div.table-container {
  margin: 20px auto;
  padding: 10px;
  width: 80vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
